<% @post.comments.each do |comment| %>
	<div class="field">
		<%# comment.label :username %>
    	<%= comment.user.user_name %>
    </div>
    <div class="field">
    	<%# comment.label :comment %>
        <%= comment.content %>
        <%= time_ago_in_words comment.created_at %>
        <% if comment.user == current_user %>
            <%= link_to "delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    </div>
<% end %>