<!DOCTYPE html>
<html>
  <head>
    <title>Blend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="top-nav">
  		<div class="row">
		    <div class="nav-wrapper col s10 offset-s1">
		    	<a href="/posts" class="brand-logo">Blend</a>
		    	<ul id="nav-mobile" class="right hide-on-med-and-down">
		        	<li><a href="#">Likes</a></li>
		        	<li><a href="#">Profile</a></li>
		        	<li><a href="#">Logout</a></li>
		      	</ul>
		    </div>
	    </div>
	</nav>
	<div class="container">
    	<%= yield %>
	</div>
  </body>
</html>
